* {
    font-family: sans-serif;
}


h1{
    background-color: black;
    color:white;
    height: 50px;
    font: optional;
    
    
}
p{
    text-align-last: center;
    background-color: rebeccapurple;
    color: white;
    font-size: 170%;
    font-style: italic;
    height: 50px;
}
a{
    background-color: lightblue;
    display: block;
    text-align: right;
    font-size: 150%;
    height: 50px;
}